{
  "lines": 95,
  "statements": 95,
  "functions": 95,
  "branches": 95,
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.{ts,tsx}"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "all": true,
  "cache": true,
  "check-coverage": true,
  "sourceMap": true,
  "instrument": true,
  "report-dir": "coverage"
}
