@import 'src/less/index.less';

.display-columns {
  .column {
    border: @border-base;
    border-color: @primary-light;
    background-color: @primary-lighter;

    &:nth-of-type(3n - 2) {
      border-color: @primary-light;
      background-color: @primary-lighter;
    }

    &:nth-of-type(3n - 1) {
      border-color: @secondary-light;
      background-color: @secondary-lighter;
    }

    &:nth-of-type(3n) {
      border-color: @tertiary-light;
      background-color: @tertiary-lighter;
    }
  }
}

.display-divs {
  border: @border-base;
  border-color: @success-light;
  background-color: @success-lighter;

  div {
    border: @border-base;

    &:nth-of-type(3n - 2) {
      border-color: @primary-light;
      background-color: @primary-lighter;
    }

    &:nth-of-type(3n - 1) {
      border-color: @secondary-light;
      background-color: @secondary-lighter;
    }

    &:nth-of-type(3n) {
      border-color: @tertiary-light;
      background-color: @tertiary-lighter;
    }
  }
}

.atomic-position-example {
  height: 250px;
  width: 100%;

  .position-static {
    bottom: 0;
    right: 0;
  }

  .position-absolute {
    bottom: 0;
    right: 0;
  }

  .position-relative {
    left: 30px;
  }
}
