@import 'src/less/index.less';

.display-columns {
  .column {
    border: @border-base;
    border-color: @primary-light;
    background-color: @primary-lighter;

    &:nth-child(1) {
      border-color: @primary-light;
      background-color: @primary-lighter;
    }

    &:nth-child(2) {
      border-color: @secondary-light;
      background-color: @secondary-lighter;
    }

    &:nth-child(3) {
      border-color: @tertiary-light;
      background-color: @tertiary-lighter;
    }
  }
}
