/* @group Mixins */

.create-button-pew () {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  transition: ease-in-out 0.2s background-color;
  border-radius: @border-radius-base;

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 0;
    padding-bottom: 200%;
    border-radius: 50%;
    transition: 0.5s ease-out transform, 0.5s ease-out opacity;
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
    pointer-events: none;
  }

  &:active {
    &::before {
      transition: none;
      transform: translate(-50%, -50%) scale(0, 0);
      opacity: 1;
    }
  }
}

.create-button-styles (@background: @button-background-default, @color: @button-text-color-dark) {
  .create-button-pew();
  background-color: @background;
  color: @color;

  &:hover:not([disabled]),
  &:hover:not(.disabled) {
    background-color: darken(@background, 5%);
    color: @color;
  }

  &::before {
    background-color: contrast(@background, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  }
}

.create-button (@type, @background, @color) {
  &.@{type} {
    .create-button-styles(@background, @color);
  }
}

/* @end Mixins */

.button {
  .button-overrides();
  .create-button-styles();
  .create-button(primary, @primary, @button-text-color-light);
  .create-button(secondary, @secondary, @button-text-color-light);
  .create-button(tertiary, @tertiary, @button-text-color-light);
  .create-button(info, @info, @button-text-color-light);
  .create-button(success, @success, @button-text-color-light);
  .create-button(warning, @warning, @button-text-color-light);
  .create-button(error, @error, @button-text-color-light);

  transition: ease-in-out 0.1s background-color, ease-in-out 0.1s box-shadow;
  box-shadow: @shadow-none;

  &:hover:not([disabled]),
  &:hover:not(.disabled) {
    box-shadow: @shadow-inset-subtle;
  }

  &:active:not([disabled]),
  &:active:not(.disabled) {
    box-shadow: @shadow-inset-hard;
  }

  &.block + .button.block {
    margin-top: @margin-base;
  }

  &.block {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  &.large {
    font-size: @font-size-large;
    padding: @padding-large / 2 @padding-large;
  }

  &.small {
    font-size: @font-size-small;
    padding: @padding-small / 2 @padding-small;
  }
}

/* @group Animations */

@keyframes button-click {
  0 {
    transform: translate(-50%, -50%) scale(0, 0);
    opacity: 0.5;
  }

  20% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }

  40% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

/* @end Animations */
