.highlight {
  .overlay,
  .overlay-disabled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    background-color: @highlight-background-color;
    z-index: @highlight-z-index;
    animation: fadein @highlight-animation-speed linear 1 normal forwards;
  }

  .content {
    &.open {
      position: relative;
      z-index: @highlight-z-index + 1;
    }
  }

  .overlay-disabled {
    z-index: @highlight-z-index + 2;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
