input,
select,
textarea {
  &.error { // lesshint qualifyingElement: false
    color: initial; // lesshint variableValue: false
    border-color: @error;
  }
}

.form-group {
  margin-top: @margin-large;
  margin-bottom: @margin-large;

  & > label,
  & > input,
  & > select,
  & > button,
  & > textarea,
  & > .input-group {
    display: inline-block;
    vertical-align: middle;
  }

  & > .input-group {
    display: inline-table;
  }

  & > label,
  & > input,
  & > select,
  & > button,
  & > textarea,
  .input-group {
    margin-top: 0;
    margin-bottom: 0;

    & + label,
    & + input,
    & + select,
    & + button,
    & + textarea,
    & + .input-group {
      margin-left: @margin-base;
    }
  }

  & > input[type='checkbox'],
  & > input[type='radio'] {
    width: @checkbox-size;
  }

  & > label {
    width: auto;
    text-align: right;

    &:first-child {
      width: 100px;
    }
  }

  & > textarea {
    resize: vertical;
  }

  &.block {
    width: 100%;

    & > label,
    & > input,
    & > select,
    & > button,
    & > textarea,
    & > .input-group {
      margin-left: 0;
    }

    & > label,
    & > input,
    & > select,
    & > button,
    & > textarea,
    & > .input-group {
      text-align: left;
      display: block;
      width: 100%;
    }

    & > input[type='checkbox'],
    & > input[type='radio'] {
      display: inline-block;
      width: @checkbox-size;
    }

    & > .input-group {
      display: table;
    }

    & > label:first-child {
      margin-bottom: @margin-base;
    }
  }
}

.input-group {
  display: inline-table;
  width: auto;
  margin-top: @margin-large;
  margin-bottom: @margin-large;

  & > label,
  & > input,
  & > select,
  & > button,
  & > .input-group-addon {
    display: table-cell;
    margin-top: 0;
    margin-bottom: 0;
  }

  & > label,
  & > input,
  & > select,
  & > button {
    width: 100%;
  }

  & > label,
  & > input,
  & > select,
  & > button {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  & > .input-group-addon {
    vertical-align: middle;
    width: 10px;
    height: @input-height;
    padding: @padding-base / 2 @padding-base;
    border: @border-base;
    border-radius: @border-radius-base;
    background-color: @grey-lightest;

    &:first-child {
      border-right: @border-none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-left: @border-none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
