input,
select,
textarea {
  &.error {
    color: @font-color-base;
    border-color: @error;
  }
}

.form-group {
  position: relative;
  margin-top: @margin-large;
  margin-bottom: @margin-large;
  min-height: @checkbox-size;

  & > label,
  & > input,
  & > select,
  & > button,
  & > textarea,
  & > .input-group,
  & > .input,
  & > .select,
  & > .label,
  & > .button {
    display: inline-block;
    vertical-align: middle;
  }

  & > label,
  & > input,
  & > select,
  & > button,
  & > textarea,
  & > .input-group,
  & > .input,
  & > .select,
  & > .label,
  & > .button {
    margin-top: 0;
    margin-bottom: 0;

    & + label,
    & + input,
    & + select,
    & + button,
    & + textarea,
    & + .input-group,
    & + .input,
    & + .select,
    & + .label,
    & + .button {
      margin-left: @margin-base;
    }
  }

  & > input[type='checkbox'],
  & > input[type='radio'] {
    width: @checkbox-size;

    &:first-child {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -@checkbox-size / 2;
    }

    & + label,
    & + .label {
      margin-left: @margin-base + @checkbox-size;
      text-align: left;
    }
  }

  & > label,
  & > .label {
    width: auto;
    text-align: right;

    &:first-child {
      width: @label-width;
    }
  }

  &.no-label > * { // lesshint universalSelector: false
    margin-left: @no-label-offset;
  }

  & > textarea {
    resize: vertical;
  }

  &.block {
    width: 100%;

    &.no-label > * { // lesshint universalSelector: false
      margin-left: 0;
    }

    & > label,
    & > input,
    & > select,
    & > button,
    & > textarea,
    & > .input-group,
    & > .input,
    & > .select,
    & > .label,
    & > .button {
      margin-left: 0;
      text-align: left;
      display: block;
      width: 100%;
    }

    & > input[type='checkbox'],
    & > input[type='radio'] {
      display: inline-block;
      width: @checkbox-size;
    }

    & > .input-group {
      display: table;
    }

    & > label:first-child,
    & > .label:first-child {
      margin-bottom: @margin-base;
    }
  }
}

.input-group {
  display: inline-flex;
  width: auto;
  margin: @margin-large auto;
  border-collapse: separate;
  border-spacing: 0;

  input,
  button,
  .input-group-addon {
    border: @input-border;
    border-left: none;
  }

  & > *:first-child {
    border-left: @input-border;
    border-top-left-radius: @border-radius-base;
    border-bottom-left-radius: @border-radius-base;
  }

  & > *:last-child {
    border-top-right-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
  }

  & > * {
    display: inline-flex;
    height: auto;
    border-left: none;
    border-radius: 0;
  }

  &.block {
    display: flex;
    width: 100%;
  }

  .input-group-addon {
    display: inline-flex;
    padding: 0 10px;
    align-items: center;
  }

  & > input,
  & > .input,
  & > select,
  & > .select {
    flex-grow: 1;
    justify-self: stretch;
    height: auto;
  }
}
