.section {
  border-bottom: @border-base;
  padding: @spacing-vertical-base @gutter-width / 2;
  margin-left: -@gutter-width / 2;
  margin-right: -@gutter-width / 2;

  &:last-child {
    border-bottom: 0;
  }
}
