* { // lesshint universalSelector: false
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: @font-size-base;
  font-family: @font-family-base;
  color: @font-color-base;
  background-color: @body-background;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
code,
ul,
ol,
li,
label {
  margin-top: @margin-large;
  margin-bottom: @margin-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: @font-weight-normal;
  color: @header-color-base;
}

a {
  color: @primary;
  cursor: pointer;
}

img {
  border: @border-none;
}

h1 {
  font-size: @font-size-h1;
}

h2 {
  font-size: @font-size-h2;
}

h3 {
  font-size: @font-size-h3;
}

h4 {
  font-size: @font-size-h4;
}

h5 {
  font-size: @font-size-h5;
}

h6 {
  font-size: @font-size-h6;
}

pre,
code {
  border: @code-block-border;
  border-radius: @border-radius-base;
  background-color: @code-block-background;
  padding: @padding-base;
}

.button-overrides() {
  position: relative;
  border-radius: @border-radius-base;
  border: @border-none;
  padding: @padding-base / 2 @padding-base;
  font-size: @font-size-base;
  font-weight: @font-weight-normal;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

button {
  .button-overrides();
}

input,
select,
textarea {
  display: inline-block;
  padding: @padding-base / 2;
  border-radius: @border-radius-base;
  border: @border-base;
  appearance: none;
  font-size: @font-size-base;
  width: @input-width;
  height: @input-height;

  &::placeholder {
    color: @grey-light;
  }
}

textarea {
  width: @textarea-width;
  height: @textarea-height;
}

input[type='submit'],
input[type='button'] {
  width: auto;
  cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
  position: relative;
  padding: 0;
  width: @checkbox-size;
  height: @checkbox-size;
  background-color: @checkbox-background;
  border: @checkbox-border;
  box-shadow: @checkbox-shadow;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: @checkbox-active-background;
    box-shadow: @shadow-none;

    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
    }
  }
}

input[type='checkbox'] {
  border-radius: @border-radius-base * 2;

  &:checked {
    background-color: @checkbox-active-background;

    &::after {
      transform: translate(-50%, -60%) rotate(-55deg);
      width: floor(@checkbox-size / 2);
      height: floor(@checkbox-size / 3);
      border-left: @checkbox-icon-border;
      border-bottom: @checkbox-icon-border;
    }
  }
}

input[type='radio'] {
  border-radius: 50%;

  &:checked {
    background-color: @checkbox-active-background;

    &::after {
      width: floor(@checkbox-size / 3);
      height: floor(@checkbox-size / 3);
      background-color: @checkbox-icon-background;
      border-radius: 50%;
    }
  }
}

@select-arrows-background: linear-gradient(135deg, transparent 75%, @font-color-base 75%) 0 0, linear-gradient(-135deg, transparent 75%, @font-color-base 75%) 0 0, linear-gradient(45deg, transparent 75%, @font-color-base 75%) 0 0, linear-gradient(-45deg, transparent 75%, @font-color-base 75%) 0 0; // lesshint maxCharPerLine: false
@select-arrows-position: ~'calc(100% - 10px)' ~'calc(50% - 5px)', ~'calc(100% - 2px)' ~'calc(50% - 5px)', ~'calc(100% - 10px)' ~'calc(50% + 5px)', ~'calc(100% - 2px)' ~'calc(50% + 5px)'; // lesshint maxCharPerLine: false

select {
  background-color: transparent;
  padding-right: @padding-base * 2;
  background: @select-arrows-background;
  background-position: @select-arrows-position;
  background-size: 8px 8px;
  background-repeat: no-repeat;

  &::-ms-expand {
    display: none;
  }
}

button,
input,
select,
textarea,
datalist,
keygen {
  &[disabled] {
    cursor: no-drop;
  }
}

button,
input,
select,
textarea,
datalist,
keygen,
form,
fieldset,
legend,
output {
  &[disabled] {
    opacity: 0.5;
  }
}

table,
thead,
tbody,
tr,
th,
td {
  border-collapse: collapse;
  border: @border-none;
}

tr {
  background-color: @white;
}

th,
td {
  padding: @padding-base;
  background-color: @white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
}

thead tr {
  border-bottom: @border-base;
}

thead,
tbody {
  tr {
    border-bottom: @border-base;
  }
}

tbody {
  tr {
    &:last-child {
      border-bottom: @border-none;
    }
  }
}
