* { // lesshint universalSelector: false
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: @font-size-base;
  font-family: @font-family-base;
  color: @font-color-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
code,
ul,
ol,
li,
label {
  margin-top: @spacing-vertical-base;
  margin-bottom: @spacing-vertical-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: @font-weight-normal;
  color: @header-color-base;
}

a {
  color: @primary;
  cursor: pointer;
}

img {
  border: @border-none;
}

h1 {
  font-size: floor(@font-size-base * 3);
}

h2 {
  font-size: floor(@font-size-base * 2.5);
}

h3 {
  font-size: floor(@font-size-base * 2.2);
}

h4 {
  font-size: floor(@font-size-base * 2);
}

h5 {
  font-size: floor(@font-size-base * 1.8);
}

h6 {
  font-size: floor(@font-size-base * 1.4);
}

pre,
code,
.hljs {
  border: @border-base;
  border-radius: @border-radius-base;
  background-color: @grey-lightest;
  padding: @padding-base;
}

.button-overrides() {
  position: relative;
  border-radius: @border-radius-base;
  border: @border-none;
  padding: @padding-base / 2 @padding-base;
  font-size: @font-size-base;
  font-weight: @font-weight-normal;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

button {
  .button-overrides();
}

input,
select,
textarea {
  display: inline-block;
  padding: @padding-base / 2;
  border-radius: @border-radius-base;
  border: @border-base;
  appearance: none;
  font-size: @font-size-base;
  width: 120px;

  &::placeholder {
    color: @grey-light;
  }
}

select {
  background-color: transparent;
  padding-right: @padding-base * 2;
}

button,
input,
select,
textarea,
form {
  &[disabled] { // lesshint qualifyingElement: false
    opacity: 0.5;
  }
}

table,
thead,
tbody,
tr,
th,
td {
  border-collapse: collapse;
  border: @border-none;
}

tr {
  background-color: @white;
}

th,
td {
  padding: @padding-base;
  background-color: @white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
}

thead tr {
  border-bottom: @border-base;
}

thead,
tbody {
  tr {
    border-bottom: @border-base;
  }
}

tbody {
  tr {
    &:last-child {
      border-bottom: @border-none;
    }
  }
}
