
.pagination {

    .button {
        color: @pagination-button-color;
        background-color: @pagination-button-background;
    }

    .selected {
        color: @pagination-selected-color;
        background-color: @pagination-selected-background;
    }

    .dots {
        color: @pagination-dots-color;
        background-color: @pagination-dots-background;
    }

    .next,
    .prev {
        color: @pagination-indicator-color;
        background-color: @pagination-indicator-background;
    }

}
