
.pagination {

    .button {
        color: @pagination-button-color;
        background-color: @pagination-button-background;
    }

    .selected {
        color: @pagination-selected-color;
        background-color: @pagination-selected-background;
    }

    .next,
    .prev {
        color: @pagination-indicator-color;
        background-color: @pagination-indicator-background;
    }

    .dots {
        display: inline-block;
        height: auto;
        padding: @padding-small @padding-base;
        text-decoration: none;
    }

}
