.spaced-group {
  /* stylelint-disable-next-line selector-max-universal */
  & > * {
    margin-right: @margin-base;
    vertical-align: middle;

    /* stylelint-disable-next-line selector-max-universal */
    &:last-child {
      margin-right: 0;
    }
  }

  &.block {
    display: block;
  }

  /* stylelint-disable-next-line selector-max-universal */
  &.small > * {
    margin-right: @margin-small;

    /* stylelint-disable-next-line selector-max-universal */
    &:last-child {
      margin-right: 0;
    }
  }

  /* stylelint-disable-next-line selector-max-universal */
  &.large > * {
    margin-right: @margin-large;

    /* stylelint-disable-next-line selector-max-universal */
    &:last-child {
      margin-right: 0;
    }
  }
}
