.table-wrapper {
  position: relative;
}

.table-scroller {
  overflow: auto;
}

.table {
  &.striped {
    .table-body {
      .table-row:nth-child(odd) {
        .table-header,
        .table-cell {
          background-color: @table-stripe;
        }
      }
    }
  }

  &.condensed {
    .table-header,
    .table-cell {
      padding: @padding-base / 2;
    }
  }

  &.hover {
    .table-body .table-row {
      cursor: pointer;

      .table-header,
      .table-cell {
        transition: ease-in-out 0.1s background-color;
      }

      &:hover {
        .table-header,
        .table-cell {
          background-color: @table-hover;
        }
      }
    }
  }

  &.bordered {
    border: @table-border;

    .table-header,
    .table-cell {
      border: @table-border;
    }
  }

  .with-fixed-header {
    padding: 0;

    .fixed-header {
      display: inline-block;
      position: relative;
      z-index: 0;
    }
  }

  tr .with-fixed-header:first-child .fixed-header {
    z-index: 1;
  }

  &.fix-row-headers {
    tr .with-fixed-header:first-child {
      vertical-align: top;

      .fixed-header {
        position: absolute;
        left: 0;
        border-right: @table-border;
      }
    }
  }

  &.fill {
    width: 100%;
  }
}
