.font-size-base {
  font-size: @font-size-base;
}

.font-size-small {
  font-size: @font-size-small;
}

.font-size-large {
  font-size: @font-size-large;
}

.font-size-h1 {
  font-size: @font-size-h1;
}

.font-size-h2 {
  font-size: @font-size-h2;
}

.font-size-h3 {
  font-size: @font-size-h3;
}

.font-size-h4 {
  font-size: @font-size-h4;
}

.font-size-h5 {
  font-size: @font-size-h5;
}

.font-size-h6 {
  font-size: @font-size-h6;
}

.italic {
  font-style: italic;
}

.bold,
.font-weight-bold {
  font-weight: @font-weight-bold;
}

.font-weight-normal {
  font-weight: @font-weight-normal;
}

.font-weight-light {
  font-weight: @font-weight-light;
}

.underline,
.underlined {
  text-decoration: underline;
}

.primary {
  color: @primary;
}

.secondary {
  color: @secondary;
}

.tertiary {
  color: @tertiary;
}

.info {
  color: @info;
}

.success {
  color: @success;
}

.warning {
  color: @warning;
}

.error {
  color: @error;
}
