.font-size-base {
  font-size: @font-size-base;
  line-height: @line-height-base;
}

.font-size-small {
  font-size: @font-size-small;
  line-height: @line-height-small;
}

.font-size-large {
  font-size: @font-size-large;
  line-height: @line-height-large;
}

.font-size-smaller,
.smaller {
  font-size: @font-size-smaller;
  line-height: @line-height-smaller;
}

.font-size-larger,
.larger {
  font-size: @font-size-larger;
  line-height: @line-height-larger;
}

.font-size-h1 {
  font-size: @font-size-h1;
  line-height: @line-height-h1;
}

.font-size-h2 {
  font-size: @font-size-h2;
  line-height: @line-height-h2;
}

.font-size-h3 {
  font-size: @font-size-h3;
  line-height: @line-height-h3;
}

.font-size-h4 {
  font-size: @font-size-h4;
  line-height: @line-height-h4;
}

.font-size-h5 {
  font-size: @font-size-h5;
  line-height: @line-height-h5;
}

.font-size-h6 {
  font-size: @font-size-h6;
  line-height: @line-height-h6;
}

.italic {
  font-style: italic;
}

.bold,
.font-weight-bold {
  font-weight: @font-weight-bold;
}

.font-weight-normal {
  font-weight: @font-weight-normal;
}

.font-weight-light {
  font-weight: @font-weight-light;
}

.underline,
.underlined {
  text-decoration: underline;
}

.primary {
  color: @primary;
}

.secondary {
  color: @secondary;
}

.tertiary {
  color: @tertiary;
}

.info {
  color: @info;
}

.success {
  color: @success;
}

.warning {
  color: @warning;
}

.error {
  color: @error;
}


dl.list {
  padding: @padding-base;

  dt {
    float: left;
    clear: left;
    width: @dl-label-width;
    text-align: right;
    font-weight: @font-weight-bold;
    color: @dl-label-color;
  }

  dt::after {
    content: ':';
  }

  dd {
    margin: 0 0 0 @dl-label-width + @padding-base;
    padding: 0 0 @margin-base 0;
  }
}

dl.stacked {
  padding: @padding-base;

  dt {
    font-weight: @font-weight-bold;
    color: @dl-label-color;
    margin-top: @padding-base;
    margin-bottom: @padding-small;

    &:first-of-type {
      margin-top: 0;
    }
  }


  dd {
    margin: 0;
    padding: 0;
  }
}

dl.inline {
   padding: @padding-base;

  dt,
  dd {
    display: inline;
    padding: 0;
    margin: 0;
  }

  dt {
    font-weight: @font-weight-bold;
    color: @dl-label-color;
  }

  dt::after {
    content: ':';
    margin-right: @margin-base;
  }

  dd::after {
    content: ', ';
  }

  dd.last:after {
    content: '\A';
    white-space: pre;
  }

}
