/* @group Colors */

@primary: #A30000;
@secondary: #7B2240;
@tertiary: #2E253F;

@info: #2D87A3;
@success: #2FA34F;
@warning: #D6982F;
@error: #CD3B3B;

@primary-light: lighten(@primary, 55%);
@secondary-light: lighten(@secondary, 55%);
@tertiary-light: lighten(@tertiary, 55%);
@info-light: lighten(@info, 30%);
@success-light: lighten(@success, 30%);
@warning-light: lighten(@warning, 25%);
@error-light: lighten(@error, 30%);

@primary-lighter: lighten(@primary, 60%);
@secondary-lighter: lighten(@secondary, 60%);
@tertiary-lighter: lighten(@tertiary, 60%);
@info-lighter: lighten(@info, 50%);
@success-lighter: lighten(@success, 50%);
@warning-lighter: lighten(@warning, 40%);
@error-lighter: lighten(@error, 40%);

@black: #000000;
@grey-dark: #333333;
@grey-medium: #555555;
@grey-light: #AAAAAA;
@grey-lighter: #E8E8E8;
@grey-lightest: #F8F8F8;
@white: #FFFFFF;

@table-stripe: @grey-lightest;
@table-hover: darken(@grey-lightest, 3%);

@content-box-header-background: @primary-lighter;
@content-box-header-border: 1px solid @primary-light;

@modal-header-background: @content-box-header-background;
@modal-header-border: @content-box-header-border;

@well-background: @grey-lightest;

/* @end Colors */

/* @group Shadows */

@shadow-none: 0 0 0 0 rgba(0, 0, 0, 0);
@shadow-inset-subtle: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
@shadow-inset-hard: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
@shadow-subtle: 0 0 3px 0 rgba(0, 0, 0, 0.1);
@shadow-hard: 0 0 5px 0 rgba(0, 0, 0, 0.2);

/* @end Shadows */

/* @group Borders */

@border-radius-base: 2px;
@border-base: 1px solid @grey-lighter;
@border-none: 0;

/* @end Borders */

/* @group Fonts */

@font-size-base: 14px;
@font-size-large: floor(@font-size-base * 1.4);
@font-color-base: @grey-dark;
@font-family-base: arial, helvetica, sans-serif;
@header-color-base: @font-color-base;

/* @end Fonts */

/* @group Font Weights */

@font-weight-light: lighter;
@font-weight-normal: normal;
@font-weight-bold: bold;

/* @end Font Weights */

/* @group Misc Sizes */

@padding-base: 10px;
@padding-large: floor(@padding-base * 1.4);
@spacing-horizontal-base: 10px;
@spacing-vertical-base: 15px;

/* @end Misc Sizes */

/* @group Grid */

@grid-divisions: 12;
@gutter-width: 30px;

/* @end Grid */

/* @group Screen sizes */

@screen-sm: 480px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;

/* @end Screen sizes */
