/* @group Colors */

@primary: #A30000;
@secondary: #7B2240;
@tertiary: #2E253F;

@grey-dark: #333333;
@grey-medium:#555555;
@grey-light: #EEEEEE;
@grey-lighter: #FAFAFA;

/* @end Colors */

/* @group Fonts */

@font-size-base: 14px;
@font-color-base: @grey-dark;
@font-family-base: arial, helvetica, sans-serif;

/* @end Fonts */

/* @group Misc Sizes */

@base-border-radius: 2px;
@base-padding: 10px;
@base-spacing-horizontal: @base-padding / 2;
@base-spacing-vertical: @base-padding;

/* @end Misc Sizes */

/* @group Grid */

@grid-divisions: 12;
@gutter-width: 30px;

/* @end Grid */

/* @group Screen sizes */

@screen-sm: 480px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;

/* @end Screen sizes */
