/* @group Colors */

/* Base colors */
@primary: #A30000;
@secondary: #7B2240;
@tertiary: #2E253F;
@info: #2D87A3;
@success: #2FA34F;
@warning: #D6982F;
@error: #CD3B3B;

/* Light colors */
@primary-light: lighten(@primary, 55%);
@secondary-light: lighten(@secondary, 55%);
@tertiary-light: lighten(@tertiary, 55%);
@info-light: lighten(@info, 30%);
@success-light: lighten(@success, 30%);
@warning-light: lighten(@warning, 25%);
@error-light: lighten(@error, 30%);

/* Lighter colors */
@primary-lighter: lighten(@primary, 60%);
@secondary-lighter: lighten(@secondary, 60%);
@tertiary-lighter: lighten(@tertiary, 60%);
@info-lighter: lighten(@info, 50%);
@success-lighter: lighten(@success, 50%);
@warning-lighter: lighten(@warning, 40%);
@error-lighter: lighten(@error, 40%);

/* Lighest colors */
@primary-lightest: lighten(@primary, 65%);
@secondary-lightest: lighten(@secondary, 65%);
@tertiary-lightest: lighten(@tertiary, 70%);
@info-lightest: lighten(@info, 60%);
@success-lightest: lighten(@success, 60%);
@warning-lightest: lighten(@warning, 50%);
@error-lightest: lighten(@error, 50%);

/* Greys */
@black: #000000;
@grey-dark: #333333;
@grey-medium: #555555;
@grey-light: #AAAAAA;
@grey-lighter: #E8E8E8;
@grey-lightest: #F8F8F8;
@white: #FFFFFF;

/* Misc colors */
@body-background: @white;

/* Component colors */
@container-background: @white;

@table-stripe: @grey-lightest;
@table-hover: darken(@grey-lightest, 3%);

@content-box-header-background: @primary-lightest;
@content-box-header-border: 1px solid @primary-lighter;

@modal-header-background: @content-box-header-background;
@modal-header-border: @content-box-header-border;

@modal-footer-background: @modal-header-background;
@modal-footer-border: @modal-header-border;

@well-background: @grey-lightest;

@tab-background: @grey-lightest;
@tab-active-background: @white;
@tab-border: @border-base;

/* @end Colors */

/* @group Shadows */

@shadow-none: 0 0 0 0 rgba(0, 0, 0, 0);
@shadow-inset-subtle: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
@shadow-inset-hard: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
@shadow-subtle: 0 0 3px 0 rgba(0, 0, 0, 0.1);
@shadow-hard: 0 0 5px 0 rgba(0, 0, 0, 0.2);

/* @end Shadows */

/* @group Borders */

@border-radius-base: 2px;
@border-base: 1px solid @grey-lighter;
@border-none: 0;

/* @end Borders */

/* @group Fonts */

@font-size-base: 14px;
@font-size-large: floor(@font-size-base * 1.4);
@font-color-base: @grey-dark;
@font-family-base: arial, helvetica, sans-serif;
@header-color-base: @font-color-base;

/* @end Fonts */

/* @group Font Weights */

@font-weight-light: lighter;
@font-weight-normal: normal;
@font-weight-bold: bold;

/* @end Font Weights */

/* @group Misc Sizes */

@spacing-horizontal-base: 10px;
@spacing-vertical-base: 15px;

/* @end Misc Sizes */

/* @group Spacing */

@padding-base: 10px;
@padding-small: floor(@padding-base * 0.5);
@padding-large: floor(@padding-base * 1.5);

/* @end Spacing */

/* @group Grid */

@grid-divisions: 12;
@gutter-width: floor(@padding-large * 2);

/* @end Grid */

/* @group Screen sizes */

@screen-sm: 480px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;

/* @end Screen sizes */
